.logo {
  font-family: var(--accent-second-font-family);
  @include font(700, 26px, 31px);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-second-color);
}

.black {
  color: #000000;
}

.white {
  color: var(--accent-first-color);
}