.social-list {
  display: flex;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 220ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.light {
  color: var(--accent-first-color);
  fill: var(--accent-first-color);
}

.dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  transition: color 220ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent-first-color {
    fill: var(--accent-first-color);
}

.accent-sixth-color {
    fill: var(--accent-sixth-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--accent-first-color);
}

.social-list-link:hover,
.social-list-link:focus {
  outline: none;
  background-color: var(--accent-second-color);
}
